[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	name = Lukasz Zygmanski
	email = lzygmanski@gmail.com
[pull]
	rebase = true
[core]
	editor = /usr/bin/vi
    ignorecase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
